* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dancing Script', cursive;
}

header h1 {
    text-align: center;
    margin: 1em;
    font-size: 3rem;
}